/* set header and footer to 3lh, transparent bg on desktop, white bg on mobile
TO-DO: move slide-footer out of cantaining div
TO-DO: move return-button-container out of cantaining section */

/* #entry-detail .slide-footer, .return-button-container {
    height: 3lh;
    min-height: 3lh;
    margin-top: 0;
    background: white;
    padding-block: 0;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100vw;

    @media (width >= 64rem) {
        background: transparent;
        margin-top: -3lh;
    }
}

.return-button-container {
    position: unset;
    padding-inline: var(--spacing-base);
    justify-content: flex-start;
} */

/* #entry-detail .slide-item-inner, .additional-info-block {
    margin-top : 3lh;
    height: calc(100dvh - 6lh);
    overflow: hidden auto;
    scrollbar-color: rgba(0,0,0,0.1) transparent;

    @media (width >= 64rem) {
        margin-top: 0;
        height: 100dvh;
    }

} */

/* #entry-detail .slide-blocks, .additional-info-block .additional-info-rows {
    padding: calc(var(--padding-amount) - 3lh) var(--spacing-base);
    width: 100vw;

    @media (width >= 64rem) {
        padding: var(--padding-amount) 0;
        width: var(--width-2-3);
    }
} */


/* TO-DO: delete this ::before pseudo-element */

/* .additional-info-block::before {
    background: none;
    height: 0;
} */

/* .additional-info-block > :first-child {
    margin-top: 0;
} */

/* .carousel-header {
    background: white;
    @media (width >= 64rem) {
        background: transparent;
    }
} */

/* .carousel-controls {
    gap: 4rem;
} */

/* .slide-footer > .flex > .flex {
    gap: 2rem;
} */

/* figcaption, .carousel-caption, .single-media-block .video-controls, .single-media-block figcaption, :is(.solo-carousel, .carousel-block) .carousel-caption {
    margin-top: calc(var(--spacing-sm) / 2);
} */



/* fix some carousel sizing */

/* .solo-carousel .solo-slide figure {
    max-width: 100%;
} */

/* .solo-carousel .solo-slide figure .slide-media img, .solo-carousel .solo-slide figure .slide-media video {
    max-height: calc(var(--inner-height) - 2.5rem);
    max-width: 100%;
} */


@media (width >= 1024px) {
    .solo-carousel .solo-slide figure .slide-media img, .solo-carousel .solo-slide figure .slide-media video {
        max-width: 100%;
    }
}



/* calculate figcaption width based on height and width of image */

figcaption {
    max-width: min(calc(1913 / 2550 * calc(var(--inner-height) - 2.5rem)), calc(100vw - var(--spacing-base) * 2));
    gap: 2rem;
    span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


