#main-nav {
  padding-top: 1lh;

  .main-links {
    li {
      display: inline-block;

      a {
        @media (min-width: 1024px) {
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .category-links {
    ul {
      a {
        display: inline-block;
        color: rgba(0,0,0,0.4);

        &.link-active {
          background-color: var(--color-grey-2);
          color: rgba(0,0,0,1);
        }
      }
    }
  }

  .list-grid-toggle {
    overflow: hidden;

    span {
      padding: 0.2rem 1rem;
      border-radius: 0;
      display: inline-block;
      opacity: 0.4;

      &.link-active {
        background-color: var(--color-grey-2);
        border-radius: var(--border-radius-sm);
        opacity: 1;
      }
    }
  }

  .category-links ul a {
    padding: 0.3rem 0.9rem;
    background-color: var(--color-grey-1);
    border-radius: var(--border-radius-sm);
  }
}

a.list-grid-toggle {
  border-radius: var(--border-radius-sm);
  background-color: var(--color-grey-1);
}
